__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
db.sqlite3
db.sqlite3-journal
staticfiles/
*.Identifier
.DS_Store
Thumbs.db
.dockerignore
.env
local_settings.py
.vscode/
.idea/