user www-data;
worker_processes auto;

events {
    worker_connections {{ max_connections | default(1024) }};
}

http {
    sendfile on;
    keepalive_timeout 65;

    include /etc/nginx/conf.d/*.conf;

}
